
main,
footer {
  text-align: center;
}
h2 {
  margin-top: 39px;
  font-size: 76px;
    font-weight: 600;
}
.btn-blue {
  margin-top: 20px;
  margin-bottom :78px;
}
p {
  margin-top: 26px;
  font-family: sans-serif;
        line-height: 40px;

          font-size: 28px;
}
#p2 {
      margin-top: 140px;
}
input {
  margin: 35px;
  width: 740px;
  border-bottom-color: #d20094;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  background-color: transparent;
  padding-left: 20px;
  color: white;
  margin-top: 40px;
 font-size: 14px;
  padding-bottom: 10px;
  outline: none;
}

.rating {
  direction: rtl; /* Ordine da destra a sinistra */


}

.rating input {
  display: none; /* Nasconde i radio */
  
}

.rating label {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('../assets/star.svg') no-repeat center;
 
  opacity: 0.4; /* stelle spente */
  cursor: pointer;

}
.rating input:checked ~ label {      

  opacity: 1;
  
}

div.rating {height: 10px;}

#p1 {margin-bottom: 40px;}



