@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

h1,
h2,
h3 {
  font-family: "Outfit";
  font-size: 60px;
}
p,
ul,
li,
label {
  font-family: "Inter";
  font-size: 16px;
}
ul {
  list-style: disc;
  margin-left: 20px;
}

body {
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  color: white;
}

header img {
  width: 15vw;
  padding-top: 80px;
  padding-left: 200px;
}

footer button {
  background: transparent;
  color: white;
  border: 3px solid white;
  width: 270px;
  height: 70px;
  font-size: 1.8em;
  font-weight: bold;
  box-shadow: 0px 0px 20px 10px rgba(0, 255, 255, 0.1);
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 255, 255, 0.1);
  -moz-box-shadow: 0px 0px 20px 10px rgba(0, 255, 255, 0.1);
}
.btn-blue {
  background: #01ffff;
  color: #0b113b;
  border: 0px;
  box-shadow: 0px 0px 33px 2px rgba(1, 255, 255, 0.89);
  -webkit-box-shadow: 0px 0px 33px 2px rgba(1, 255, 255, 0.89);
  -moz-box-shadow: 0px 0px 33px 2px rgba(1, 255, 255, 0.89);
}
